<!DOCTYPE html>
<html class="no-js" language="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style type="text/css">
            {% block crp %}
                {% include 'crp/default.min.css' %}
            {% endblock %}
        </style>
    </head>
    <body>
        {% block header %}
            {% include 'organisms/header.html.twig' %}
        {% endblock %}
        <main id="main">
            {% block body %}{% endblock %}
        </main>
        {% block footer %}
            {% include 'organisms/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
