<!DOCTYPE html>
<html class="no-js" language="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gulp Boilerplate example page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            {% block crp %}
                {% include 'crp/default.min.css' %}
            {% endblock %}
        </style>
    </head>
    <body>
        {% include 'components/header.twig' %}
        <main id="main">
            {% include 'components/example.twig' %}
        </main>
        {% include 'components/footer.twig' %}
        <link rel="stylesheet" href="css/styles.min.css" />
        <script src="js/app.min.js" async defer></script>
    </body>
</html>
